
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PigLatinize</title>
  </head>
  <body>
    <h1>Here is your phrase in Pig Latin: </h1>
    <h2><%=@phrase.to_pig_latin%></h2>

  </body>
</html>
